<h2>Hello database_server!</h2>

<form action='/set' method="get">
  <input type='text' name="key" placeholder="Key">
  <input type='text' name="value" placeholder="Value">
  <input type="submit" value="Submit">
</form>

<form action='/get' method="get">
  <input type='text' name="key_name" placeholder="Key">
  <input type="submit" value="Find value">
</form>
